.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.encabezado {
    background-color: pink;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.contenido {
    display: flex;
    text-align: center;
    flex: 1;
}

.menu-lateral {
    background-color: greenyellow;
    color: white;
    font-size: 30px;
    width: 250px;
    padding: 20px;
}

.principal {
    background-color: hotpink;
    color: white;
    font-size: 30px;
    flex: 1;
    padding: 20px;
}

.barra-lateral {
    background-color: violet;
    color: white;
    font-size: 30px;
    width: 250px;
    padding: 20px;
}

.pie-pagina {
    background-color: darkcyan;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}